.homepage_1 {
  margin-top: 40px;
  display: flex;
  gap: 32px;
}

.homepage_2 {
  margin-top: 160px;
  margin-left: 380px;
}

.homepage_2 > div:first-child {
  font-size: 40px;
  font-family: "Inika";
  margin-bottom: 40px;
}

.homepage_2 > div:last-child {
  display: grid;
  grid-template-columns: 277px 277px 277px 277px;
  gap: 16px;
  margin-bottom: 200px;
}
