.mypage {
  width: 1160px;
  margin: 100px auto;
}

.mypage_title {
  font-size: 20px;
  font-weight: bold;
}

.mypage_inform {
  width: 572px;
  height: 175px;
  margin-top: 40px;
  border: 1px solid black;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.mypage_inform > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.mypage_inform > div > p {
  font-size: 20px;
  font-weight: bold;
}

.mypage_inform > div > button {
  width: 55px;
  height: 30px;
  background: linear-gradient(
    to bottom,
    white,
    rgb(177, 177, 177),
    rgb(128, 128, 128)
  );
  border: 0px;
  margin-bottom: 8px;
  font-size: 14px;
}

.mypage_inform > div:last-child {
  border-top: 0.5px solid rgb(0, 0, 0, 0.3);
}

.mypage_inform > div:last-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  font-size: 14px;
}

.mypage_orderlist {
  width: 572px;
  height: 175px;
  margin-top: 40px;
  border: 1px solid black;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.mypage_orderlist > div > p {
  font-size: 20px;
  font-weight: bold;
}

.mypage_arrow {
  font-size: 24px;
}

.mypage_orderlist > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.mypage_orderlist > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mypage_orderlist > div > div > p {
  font-size: 14px;
}

.mypage_orderlist > div:nth-child(2) {
  border-top: 0.5px solid rgb(0, 0, 0, 0.3);
  padding-top: 24px;
}

.mypage_cart {
  width: 572px;
  height: 175px;
  margin-top: 40px;
  border: 1px solid black;
  padding: 24px;
  box-sizing: border-box;
}

.mypage_cart > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage_cart > div > p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.mypage_cart > div:nth-child(2) {
  border-top: 0.5px solid rgb(0, 0, 0, 0.3);
  height: 100px;
}

.mypage_cart > div:nth-child(2) > div > span {
  font-size: 20px;
  font-weight: bold;
}
